<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Clientes</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th><em class="fa fa-cog"></em></th>
              <th>Nome</th>
              <th>Endereço</th>
              <th>Telefone</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes">
              <td>
                <div class="dropdown">
                  <button class="btn btn-primary" (click)="editarCliente(cliente.id)">
                    <em class="fa fa-edit small"></em>
                  </button>&nbsp;
                  <button class="btn btn-danger" (click)="removerCliente(cliente.id)">
                    <em class="fa fa-remove"></em>
                  </button>
                </div>
              </td>
              <td>{{ cliente.nome_cliente }}</td>
              <td>{{ cliente.nome_rua }} <span class="label label-primary"><em class="fa fa-map-marker"></em></span></td>
              <td>{{ cliente.telefone_cliente }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>