<header class="header">

  <div class="container">
    <div class="row">
      <div class="col-md-11 col-xs-11 col-sm-11">
        <div class="logo">
          <h1 class="text-light">
            <img src="assets\images\LOGO-REDETEX.png" alt="logo-redetex">
            <a href="" class="scrollto"><span> {{ title }}</span></a>
          </h1>
        </div>
      </div>
      <div class="col-md-1 col-xs-1 col-sm-1" style="margin-top: 2%;">
        <div class="btn-group">
          <button class="btn btn-primary"><em class="fa fa-navicon"></em> </button>
        </div>
      </div>
    </div>
  </div>
  <hr>
</header>
