<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Orçamentos</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th><em class="fa fa-cog"></em></th>
              <th>Tipo</th>
              <th>Cliente</th>
              <th>Endereço</th>
              <th>Situação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let orcamento of orcamentos">
              <td>
                <div class="dropdown">
                  <button class="btn btn-primary" (click)="editarOrcamento(orcamento.id)">
                    <em class="fa fa-edit small"></em>
                  </button>&nbsp;
                  <button class="btn btn-danger" (click)="removerOrcamento(orcamento.id)">
                    <em class="fa fa-remove"></em>
                  </button>
                </div>
              </td>
              <td>{{ orcamento.tipoOrcamento }}</td>
              <td>{{ orcamento.nomeClienteOrcamento }}</td>
              <td>{{ orcamento.nomeRuaOrcamento }} <span class="label label-primary"><em class="fa fa-map-marker"></em></span></td>
              <td class="alert alert-success" align="center">{{ orcamento.situacaoOrcamento }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>