<!-- Incluir/Alterar Cliente -->
<div class="col-md-12">
    <div class="form-group">
      <div class="row">
        <fieldset class="col-md-12">
          <legend>
            <i class="fa fa-cog" aria-hidden="true"></i> {{ incluir? 'Incluir' : 'Alterar' }} Serviço
          </legend>
          <div class="col-md-7">
            <label class="control-label">Tipo do Serviço:</label>
            <select required class="form-control">
              <option value="">Persiana</option>
              <option value="">Rede de Proteção</option>
              <option value="">Tela Mosquiteira</option>
            </select>
          </div>
          <div class="col-md-2">
            <label class="control-label">Atribuir Orçamento?:</label>
            <select required class="form-control">
              <option value="sim">Sim</option>
              <option value="nao">Não</option>
            </select>
          </div>
          <div class="col-md-3">
            <label class="control-label">Código do Orçamento:</label>
            <input required class="form-control">
          </div>
          <div class="col-md-9">
            <label class="control-label">Endereço:</label>
            <input required class="form-control">
          </div>
          <div class="col-md-3">
            <label class="control-label">Número:</label>
            <input required class="form-control">
          </div>
          <div class="col-md-9">
            <label class="control-label">Nome do Edifício:</label>
            <input required class="form-control">
          </div>
          <div class="col-md-3">
            <label class="control-label">Apartamento:</label>
            <input required class="form-control">
          </div>
          <div class="col-md-12">
            <label class="control-label">Ponto de Referência/Observação Adicional:</label>
            <textarea class="form-control"></textarea>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <!-- BTN NEXT -->
        <div class="col-md-12 text-right">
          <button class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Voltar
          </button>&nbsp;
          <button class="btn btn-primary">
            <i class="fa fa-chevron-right" aria-hidden="true"></i> {{ incluir? 'Incluir' : 'Alterar' }}
          </button>
        </div>
      </div>
    </div>
  </div>