<!-- Incluir Cliente -->
<div class="col-md-12">
    <div class="form-group">
      <div class="row">
        <fieldset class="col-md-12">
          <legend>
            <i class="fa fa-cog" aria-hidden="true"></i> Incluir Cliente
          </legend>
          <div class="col-md-7">
            <label class="control-label">Nome:</label>
            <input required name="numeroOs" class="form-control">
          </div>
          <div class="col-md-5">
            <label class="control-label">Telefone:</label>
            <input required name="numeroOs" class="form-control">
          </div>
          <div class="col-md-9">
            <label class="control-label">Endereço:</label>
            <input required name="numeroOs" class="form-control">
          </div>
          <div class="col-md-3">
            <label class="control-label">Número:</label>
            <input required name="numeroOs" class="form-control">
          </div>
          <div class="col-md-9">
            <label class="control-label">Nome do Edifício:</label>
            <input required name="numeroOs" class="form-control">
          </div>
          <div class="col-md-3">
            <label class="control-label">Apartamento:</label>
            <input required name="numeroOs" class="form-control">
          </div>
          <div class="col-md-12">
            <label class="control-label">Observação Adicional:</label>
            <textarea required name="numeroOs" class="form-control"></textarea>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <!-- BTN NEXT -->
        <div class="col-md-12 text-right">
          <button class="btn btn-default">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Voltar
          </button>&nbsp;
          <button class="btn btn-primary">
            <i class="fa fa-chevron-right" aria-hidden="true"></i> Incluir </button>
        </div>
      </div>
    </div>
  </div>