<hr>
<div class="footer">
  
  <div class="container">
    <div class="row">

      <div class="col-md-offset-3 col-md-3 col-sm-6 col-xs-6">
        <div class="footer-links text-center">
          <h4>Endereço</h4>
          <p>Av. Maria Rosa, 851 <br>
            Manaíra, João Pessoa - PB  <br>
            CEP: 58038-460
          </p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="footer-links text-center">
          <h4>Contato</h4>
          <p>
            (83) 9-9905-0808 <span class="whatsapp"><i class="fa fa-whatsapp"></i></span><br>
            (83) 3244-4441 <br>
            redetex@yahoo.com.br
          </p>
        </div>
      </div>
  
  </div>
    
  <div class="credits">
    Desenvolvido por Liendson Douglas
  </div>

</div>