<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-cog" aria-hidden="true"></i> Editar Servicos</h4>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <form [formGroup]="formulario" (ngSubmit)="editarDados(formulario)">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>Servico Nº {{ nrServico }}</h4>
                </div>
                <div class="panel-body">
                  <div class="col-md-4">
                    <label class="control-label">Tipo do Serviço:</label>
                    <select required class="form-control" formControlName="tipoServico">
                      <option value="Persiana">Persiana</option>
                      <option value="Rede de Proteção">Rede de Proteção</option>
                      <option value="Tela Mosquiteira">Tela Mosquiteira</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label class="control-label">Nome do Cliente:</label>
                    <input required class="form-control" formControlName="nomeCliente">
                  </div>
                  <div class="col-md-4">
                    <label class="control-label">Telefone do Cliente:</label>
                    <input required class="form-control" formControlName="telefoneCliente">
                  </div>
                  <div class="col-md-6">
                    <label class="control-label">Nome da Rua:</label>
                    <input required class="form-control" formControlName="nomeRua">
                  </div>
                  <div class="col-md-3">
                    <label class="control-label">CEP da rua:</label>
                    <input required class="form-control" formControlName="cepRua">
                  </div>
                  <div class="col-md-3">
                    <label class="control-label">Situação do Serviço:</label>
                    <input required class="form-control" formControlName="situacaoServico">
                  </div>
                  <div class="col-md-6">
                    <label class="control-label">Nome do Edifício:</label>
                    <input required class="form-control" formControlName="nomeEdificio">
                  </div>
                  <div class="col-md-3">
                    <label class="control-label">Número do Edifício:</label>
                    <input required class="form-control" formControlName="numeroEdificio">
                  </div>
                  <div class="col-md-3">
                    <label class="control-label">Número do Apartamento:</label>
                    <input required class="form-control" formControlName="numeroApartamento">
                  </div>
                  <div class="col-md-12">
                    <label class="control-label">Ponto de Referência/Observação Adicional:</label>
                    <textarea required class="form-control" formControlName="obsAdicional"></textarea>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <!-- BTN NEXT -->
                  <div class="col-md-12 text-right">
                    <button class="btn btn-default" type="button" (click)="voltar()">
                      <i class="fa fa-chevron-left" aria-hidden="true"></i> Voltar
                    </button>&nbsp;
                    <button class="btn btn-primary" type="submit">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i> Editar
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>